<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div ng-controller="NarrowItDownController as ctrl" class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="ctrl.searchTerm" type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="ctrl.search()" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>


    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>

    <!-- found-items should be implemented as a component 
    <found-items found-items="...." on-remove="...."></found-items>
    -->
    
    <div class ="clearfix"></div>
      <found-items 
        found="ctrl.found"
        remove-item = "ctrl.removeItem(index)"
        found-anything = "ctrl.foundAnything()" >
        </found-items>
    <div ng-hide="ctrl.anyResult()"> Nothing Found </div>
    </div>

  </div>

</body>
</html>
